<!DOCTYPE html>
<html>
    <head>
        <title>RAYGROUND - Very Fun and Light Game!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "/style/common.css">
    </head>
    <body class = "background">
        <h1>RAYGROUND.io</h1>
        <p>RAYGROUND is very fun and light game</p>
        <a href = "/play"><p>PLAY</p></a>
        <iframe width="420" height="315"
            src="https://www.youtube.com/embed/q31qhoUEFVA">
        </iframe>
        <p>Initial Version</p>
        <p>PARAMITA-OCEAN</p>
    </body>
</html>