<!DOCTYPE html>
<html>
    <head>
        <title>Play!</title>
        <link rel = "stylesheet" href = "/style/common.css">
        <link rel = "stylesheet" href = "/style/makingroom.css">
    </head>
    <body class = "background">
        <div id = "makingroom_container">
            <h2>Create Room</h2>
            <form id = "roominfo_form" action = '/process/tryingmakeroom' method="POST">
                <p>Room Name: <input type = "text" name = "title" required autocomplete="off"> </p>
                <p>Password: <input type = "text" name = "password" autocomplete="off"></p>
                <p>Max players: 
                    <select form = "roominfo_form" name = "maxPlayer">
                        <option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option>
                        <option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option>
                        <option>19</option><option>20</option>
                    </select>
                </p>
                <input id = "hidden_btn_submit" type = "button" hidden>
                <input id = "hidden_btn_submit" type = "submit">
                <div id = "makingroom_button_container">
                   
                    <label for = "hidden_btn_cancel">
                        <div class = "btn">cancel</div>
                    </label>
                    <label for = "hidden_btn_submit">
                        <div class = "btn">create</div>
                    </label>
                </div>
            </form>
        </div>
    </body>
</html>