<!DOCTYPE html>
<html>
    <head>
        <title>MAP EDITOR</title>
        <link rel = "stylesheet" href = "/style/mapeditor.css">
    </head>
    <script>
        const WALL = 0;
        const FLOOR = 1;

        const DEFAULT_NUMBER_OF_WALL_TILES = 2;
        const DEFAULT_NUMBER_OF_FLOOR_TILES = 1;

        var nowclickedType = 0; // 0: wall | 1: floor
        var nowclickedIdx = 0;

        var map_width = 19;
        var map_height = 19;
        
        var map_floor = [];
        var map_wall = [];

        var sprites = [];
        
        var wall_tiles = [];
        var floor_tiles = [];
        var sprite_tiles = [];

        function makeModal(){
            let modal_bg = document.createElement('div');
            let modal = document.createElement('div');
            modal_bg.id = 'modal_bg';
            modal.id = 'modal';
            //modal.innerHTML = 
            modal_bg.appendChild(modal); 
            document.body.appendChild(modal_bg);
            return modal;
        }

        function convertToRMP(){
            let ret = {};
            ret['name'] = document.getElementById('mapname').value;
            ret['width'] = width;
            ret['height'] = height;
            ret['map'] = map;
            ret['sprites'] = sprites;
            ret['wall_tiles'] = wall_tiles;
            ret['floor_tiles'] = floor_tiles;
            ret['sprite_tiles'] = sprite_tiles;
            
            let data = JSON.stringify(ret);
            console.log(data);
            
            const xhr = new XMLHttpRequest();
            const method = "POST";
            const url = "/process/convertfile";
            xhr.open(method, url);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = (event) => {
                console.log(xhr.response); 
            }
            xhr.send(`filename=${ret.name}&data=${data}`);
        }

        function loadRMP(){
            let modal = makeModal();
            modal.innerHTML = 
            "<h3 style = 'text-align:center;'>JSON LOADER</h3>" +
            "<input type = 'file' id = 'RMP_uploader' style = 'display:none;'>" +
            "<label for = 'RMP_uploader'><p class = 'upload_btn'>upload</p></label>"+
            "<p style = 'text-align:center'><button id = 'btn_admit' style = 'margin-right:0.5rem;' disabled>LOAD</button>" +
            "<button onclick = 'CLOSE_ADDFILE_MODAL()'>CLOSE</button></p>";
            let file = document.getElementById('RMP_uploader');
            file.onchange = () => {
                let fileList = file.files;
                let reader = new FileReader();
                reader.onload = (e) => {
                    let text = reader.result;
                    document.getElementById('btn_admit').disabled = false;
                    document.getElementById('btn_admit').addEventListener('click', ()=>{
                        let obj = JSON.parse(text);
                        map_floor = obj.map_floor;
                        map_wall = obj.map_wall;
                        for(let i = 0; i<obj.wallTilesInfo.length; i++){
                            wall_tiles[i] = obj.wallTilesInfo[i];
                        }

                        for(let i = 0; i<obj.floorTilesInfo.length; i++){
                            floor_tiles[i] = obj.floorTilesInfo[i];
                        }

                        for(let y = 0; y<3; y++){
                            for(let x = 0; x<3; x++){
                                let idx = y * 3 + x;
                                let img_cell = document.getElementById(`tile_${idx}`);
                                if(idx < tiles_src.length) img_cell.src = tiles_src[idx];
                            }
                        }
                        for(let y = 0; y<height; y++){
                            for(let x = 0; x<width; x++){
                                if(map[y][x] != 0)
                                    document.getElementById(`cell_${y}_${x}`).src = tiles_src[map[y][x]-1];
                            }
                        }
                    });
                }
                reader.readAsText(fileList[0]);
            }
        }

        function closeModal(){
            let modal_bg = document.getElementById('modal_bg');
            let modal = document.getElementById('modal');
            while(modal.hasChildNodes()){modal.removeChild(modal.firstChild);};
            modal_bg.removeChild(modal);
            document.body.removeChild(modal_bg);
        }

        function admitTile(result){
            let img = new Image();
            img.src = result;
            img.onload = () => {
                let temp_canvas = document.createElement('canvas');
                let temp_ctx = temp_canvas.getContext('2d');
                temp_canvas.width = img.width;
                temp_canvas.height = img.height;
                temp_ctx.drawImage(img, 0, 0, img.width, img.height);
                let url = temp_canvas.toDataURL();
                let imgd = temp_ctx.getImageData(0, 0, img.width, img.height).data;
                let rgbArray = new Array(img.width * img.height);
                for(let p = 0; p<img.width*img.height; p++){
                    rgbArray[p] = [imgd[4*p], imgd[4*p+1], imgd[4*p+2], imgd[4*p+3]];
                }
                document.getElementById(`wall_tile_${wall_tiles.length}`).src = url;
                wall_tiles_innerURL.push(url);
                wall_tiles.push({width:img.width, height:img.height, data:rgbArray});
                delete temp_canvas;
            }
            closeModal();
        }
        
        function openAddTileModal(type = WALL){
            let modal = makeModal();
            modal.innerHTML = 
            "<h3 style = 'text-align:center;'>TILE UPLOADER</h3>" + 
            "<p style = 'text-align:center'><img id = 'tile_preview' style='width:128px; height:128px; border: 0.07rem black solid;'></p>"+
            "<input type = 'file' id = 'tile_uploader' style = 'display:none;'>" +
            "<label for = 'tile_uploader'><p class = 'upload_btn'>파일 찾기</p></label>"+
            "<p style = 'text-align:center'><button id = 'btn_admit' style = 'margin-right:0.5rem;' disabled>추가</button><button onclick = 'CLOSE_ADDFILE_MODAL()'>닫기</button></p>";
            modal_bg.appendChild(modal); 
            document.body.appendChild(modal_bg);
            let file = document.getElementById('tile_uploader');
            file.onchange = () => {
                let fileList = file.files;
                let reader = new FileReader();
                reader.readAsDataURL(fileList[0]);
                reader.onload = () => {
                    document.getElementById('tile_preview').src = reader.result;
                    document.getElementById('btn_admit').disabled = false;
                    document.getElementById('btn_admit').addEventListener('click', ()=>{
                        ADMIT_TILE(reader.result);
                    });
                }
            }
        }

        function initMap(){
            for(let y = 0; y<map_height; y++){
                map_floor[y] = [];
                map_wall[y] = [];
                for(let x = 0; x<map_width; x++){
                    map_floor[y][x] = 0;
                    map_wall[y][x] = 0;
                }
            }
        }

        function loadDefaultWallTile(idx){
            return new Promise((resolve, reject)=>{
                let i = idx;
                let img = new Image();
                img.src = `/texture/wall/wall_${idx}.png`;
                img.onload = () =>{
                    let temp_canvas = document.createElement('canvas');
                    let temp_ctx = temp_canvas.getContext('2d');
                    temp_canvas.width = img.width;
                    temp_canvas.height = img.height;
                    temp_ctx.drawImage(img, 0, 0, img.width, img.height);
                    let imgd = temp_ctx.getImageData(0, 0, img.width, img.height).data;
                    let rgbArray = new Array(img.width * img.height);
                    for(let p = 0; p<img.width*img.height; p++){
                        rgbArray[p] = [imgd[4*p], imgd[4*p+1], imgd[4*p+2], imgd[4*p+3]];
                    }
                    wall_tiles[i] = {width:img.width, height:img.height, pixelsData:rgbArray, dataURL: temp_canvas.toDataURL()};
                    delete temp_ctx;
                    delete temp_canvas;
                    resolve();
                };
            })
        }

        function loadDefaultFloorTile(idx=0){
            return new Promise((resolve, reject)=>{
                let i = idx;
                let img = new Image();
                img.src = `/texture/floor/floor_${idx}.png`;
                img.onload = () =>{
                    let temp_canvas = document.createElement('canvas');
                    let temp_ctx = temp_canvas.getContext('2d');
                    temp_canvas.width = img.width;
                    temp_canvas.height = img.height;
                    temp_ctx.drawImage(img, 0, 0, img.width, img.height);
                    let imgd = temp_ctx.getImageData(0, 0, img.width, img.height).data;
                    let rgbArray = new Array(img.width * img.height);
                    for(let p = 0; p<img.width*img.height; p++){
                        rgbArray[p] = [imgd[4*p], imgd[4*p+1], imgd[4*p+2], imgd[4*p+3]];
                    }
                    floor_tiles[i] = {width:img.width, height:img.height, pixelsData:rgbArray, dataURL: temp_canvas.toDataURL()};
                    delete temp_ctx;
                    delete temp_canvas;
                    resolve();
                };
            })
        }

        function initTileSet(){
            for(let y = 0; y<3; y++){
                let row = document.createElement('div');
                row.style.display = 'flex';
                for(let x = 0; x<3; x++){
                    let idx = y *3 + x;
                    let img_cell = document.createElement('img');
                    img_cell.id = `wall_tile_${idx+1}`;
                    img_cell.classList.add('tile');
                    img_cell.width = (64*0.7)|0; 
                    img_cell.height = (64*0.7)|0;
                    if(wall_tiles[idx+1] != undefined){
                        img_cell.classList.add('activated');
                        img_cell.src = wall_tiles[idx+1].dataURL;
                    }
                    img_cell.addEventListener('click', ()=>{
                        nowclickedIdx = idx+1;
                        nowclickedType = WALL;
                    });
                    row.appendChild(img_cell);
                }
                document.getElementById('wall_tile_set').appendChild(row);
            }

            for(let y = 0; y<3; y++){
                let row = document.createElement('div');
                row.style.display = 'flex';
                for(let x = 0; x<3; x++){
                    let idx = y*3 + x;
                    idx = idx + 1;
                    let img_cell = document.createElement('img');
                    img_cell.id = `floor_tile_${idx}`;
                    img_cell.classList.add('tile');
                    img_cell.width = (64*0.7)|0; 
                    img_cell.height = (64*0.7)|0;
                    if(floor_tiles[idx] !== undefined){
                        img_cell.classList.add('activated');
                        img_cell.src = floor_tiles[idx].dataURL;
                    }
                    img_cell.addEventListener('click', ()=>{
                        nowclickedIdx = idx;
                        nowclickedType = FLOOR;
                    });
                    row.appendChild(img_cell);
                }
                document.getElementById('floor_tile_set').appendChild(row);
            }
        }

        function loadImages(){
            let promises = [];
            for(let i = 1; i <= DEFAULT_NUMBER_OF_WALL_TILES; i++)
                promises.push(loadDefaultWallTile(i));
            for(let i = 1; i <= DEFAULT_NUMBER_OF_FLOOR_TILES; i++)
                promises.push(loadDefaultFloorTile(i));
            let a = Promise.all(promises).then(initTileSet);
        }

        function setImageCell(img_cell, x, y){
            if(nowclickedType == WALL){
                img_cell.src = wall_tiles[nowclickedIdx].dataURL;
                map_wall[y][x] = nowclickedIdx;
            }
            else{
                img_cell.src = floor_tiles[nowclickedIdx].dataURL;
                map_floor[y][x] = nowclickedIdx;
            }
        }

        function makeGRID(height, width){
            for(let y = 0; y<height; y++){
                let row = document.createElement('div');
                row.style.display = 'flex';
                for(let x = 0; x<width; x++){
                    let px = x; let py = y;
                    let img_cell = document.createElement('img');
                    img_cell.id = `cell_${y}_${x}`;
                    img_cell.width = (64*0.5)|0; img_cell.height = (64*0.5)|0;
                    img_cell.border = "0.7rem white solid;"
                    img_cell.addEventListener('click', ()=>{
                        setImageCell(img_cell, px, py);
                    })
                    img_cell.addEventListener('dragover', ()=>{
                        setImageCell(img_cell, px, py);
                    })
                    row.appendChild(img_cell);
                }
                document.getElementById('map_editor').appendChild(row);
            }
        }

        function init(){
            loadImages();
            initMap();
            makeGRID(map_height, map_width);
        }
    </script>
    <body style = "background: #101010; color:white;" onload="init();">
        <h2 style = "text-align: center; margin: 0rem 0rem 0.5rem 0rem;">MAP EDITOR <input id = "mapname" type = "text" placeholder="map name" style = "margin:0;padding:0;vertical-align: middle;"></h2>
        <div style = "display: flex; justify-content: center;">
            <label for = "btn_convert"><p style = "margin-right:0.5rem;padding:0.2rem; border:0.05rem white solid; width:fit-content;" class = "btn">CONVERT TO .json</p></label>
            <button id = "btn_convert" style = "display: none;" onclick = "convertToRMP();"></button>
            <label for = "btn_load"><p style = "padding:0.2rem; border:0.05rem white solid; width:fit-content;" class = "btn">LOAD .json</p></label>
            <button id = "btn_load" style = "display: none;" onclick = "loadRMP();"></button>
        </div>
        <div style = "display:flex; justify-content: center;">
            <div id = "map_editor" style = "margin-right: 0.7rem;text-align: center;">
               
            </div>
            <div id = "tile_editor">
                <div>
                    <h3 style = "text-align: center; margin: 0rem 0rem 0.5rem 0rem;">WALL TILES</h3>
                    <div id = "wall_tile_set"></div>
                    <button id = "btn_add_wall_tile" class = "btn" onclick="openAddTileModal(WALL);">ADD TILE</button>
                </div>
                <div style = "margin-top: 1.5rem;">    
                    <h3 style = "text-align: center; margin: 0rem 0rem 0.5rem 0rem;">FLOOR TILES</h3>
                    <div id = "floor_tile_set"></div>
                    <button id = "btn_add_floor_tile" class = "btn" onclick="openAddTileModal(FLOOR);">ADD TILE</button>
                </div>    
            </div>
        </div>
    </body>
</html>