<html>
<head>
    <title>Play!</title>
    <link rel = "stylesheet" href = "/style/common.css">
</head>
<body class = "background">
    <ul>
        <li>update log</li>
        <li>sex</li>
    </ul>
    <div style = "display: flex; justify-content: center;">
        <iframe id = "play" style = "width : 1080px; height: 720px; border: 0;" src = "/">
        </iframe>
    </div>
</body>
</html>