<html>
<head>
    <title>Play!</title>
    <link rel = "stylesheet" href = "/style/common.css">
</head>
<body class = "background">
    <ul>
        <li><a href = "/">RAYGROUND.io</a></li>
        <li>update news</li>
        <li> <a href = "/mapeditor">MAP EDITOR</a> </li>
    </ul>
    <div style = "display: flex; justify-content: center;">
        <iframe id = "play" style = "width : 1080px; height: 720px; border: 0;" src = "/enter">
        </iframe>
    </div>
</body>
</html>