<!DOCTYPE html>
<html>
    <head>
        <title>hello <%=name%></title>
        <link rel = "stylesheet" href = "/style/hpbar.css">
        <script src = "/scripts/socket.io.js"></script>
        <% if(admin) { %> 
            <style>
                .btn{
                    padding:2.5px; border:1px solid white; width: fit-content; 
                    margin: 0 auto;
                }
                .btn:hover, .btn *:hover{
                    cursor: pointer;
                }
            </style>
        <% } %>
    </head>
    <body style = "background: #101010; color:white; width:fit-content; margin:0 auto;" onload = "Init()">
        <div style = "display: flex;">
            <div style = "margin-right: 0.5rem;" id = "situation_panel"> 
                <div id = "hpbar" style = "--width: 50;" >
                    <div>    
                    </div>
                </div>
            <div id = "status"></div>
            </div>
            <div style = "display:flex">
                <div id = "wait_mode" style = "margin-right: 1rem">
                    <h5 style = "text-align: center;">USER_LIST</h5>
                    <table>
                        <thead>
                            <td style = "color:crimson;">
                                <label for = "btn_move_left">LEFT</label>
                                <button id = "btn_move_left" style = "display: none;" onclick="moveTeam(1);"></button>
                            </td>
                            <td>
                                <label for = "btn_move_spec">SPEC</label>
                                <button id = "btn_move_spec" style = "display: none;" onclick="moveTeam(0);"></button>
                            </td>
                            <td style = "color:skyblue;">
                                <label for = "btn_move_right">RIGHT</label>
                                <button id = "btn_move_right" style = "display: none;" onclick="moveTeam(2);"></button>
                            </td>
                        </thead>
                        <tr>
                            <td>
                                <ul id = "wait_mode_ul-left"></ul>
                            </td>
                            <td>
                                <ul id = "wait_mode_ul-spec"></ul>
                            </td>
                            <td>
                                <ul id = "wait_mode_ul-right"></ul>
                            </td>
                        </tr>
                        <% if(admin) { %> 
                        <tr>
                            <td colspan="3" style = "text-align: center;">
                                <p>맵 선택하기
                                    <br>
                                    <select id = "mapselector">
                                    </select>
                                    <input type = "file" id = "map_uploader" style="display:none;">
                                    <div class = "btn">
                                        <label for = "map_uploader">자작맵 업로드</label>
                                    </div>
                                </p>
                                <button id = "btn-start" onclick = "click_Game_Btn();" style = "display: none;">GAME START!</button>
                                <div class = "btn">
                                    <label for = "btn-start" id = "start-pause">GAME START!</label>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                    </table>
                </div>
                <canvas id = "game"></canvas>
                <div>
                    <h5 style = "text-align:center;" draggable = "false">CHATTING</h5>
                    <div id = "chatbox" style = "height:200px; overflow:hidden;"></div>
                    <form action = "javascript:sendMSG()">
                        <div style = "display: flex;">
                            <input type = "text" id = 'msg' style = "background: none; border: none; border-bottom: 1px white solid;
                            color: white; text-align: center; margin-right:0.5rem" autocomplete="off">
                            <label for = "abc"> 
                                <div style = "border: 0.5px white solid; color: white; padding-left:0.5rem; padding-right:0.5rem; width: fit-content;"> 
                                    SEND 
                                </div> 
                            </label>
                            <input id = "abc" type="submit" value="ok" style = "display:none;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <% if(admin) { %>
        <script src = "/scripts/GAME/adminconfig.js"></script>
        <script>ADMIN_INIT();</script>
    <% } %>
    <script>
        var name = "<%= name %>";
        var hash = "<%= hash %>";
        var playMode = false;
        var isWaitMode = true;

        function checkShot(){
            const bias = 0.5
            let my_pos = player.pos
            let dir = new Vector2(1, 0).rotate(player.angle);

            let x1 = my_pos.x, x2 = my_pos.add(dir).x;
            let y1 = my_pos.y, y2 = my_pos.add(dir).y;

            for(let i = 0; i<others.length; i++){
                let other = others[i];
                let other_pos = other.pos;
                let x0 = other_pos.x, y0 = other_pos.y;
                let det = Math.sqrt((x2 - x1) * (x2 - x1) + (y2 - y1) * (y2 - y1));
                let d = Math.abs((x2 - x1)*(y1 - y0) - (x1 - x0) * (y2 - y1)) / det;
                if(zBuffer[h/2] > my_pos.sub(other_pos).mag() && d <= bias)
                    return others_id[i];
            }
            return 0;
        }
        
        function sendMSG(){
            let text = document.getElementById('msg').value;
            document.getElementById('msg').value = '';
            socket.emit('sendMSG', text);
        }

        function moveTeam(team){
            if(!playMode)
                socket.emit('move-team', team);
        }


        function checkMode(){
            let situation_panel = document.getElementById('situation_panel');
            let game = document.getElementById('game');
            let wait_mode = document.getElementById('wait_mode');
            if(isWaitMode){
                situation_panel.setAttribute('class', 'invisible');
                game.setAttribute('class', 'invisible');
                wait_mode.removeAttribute('class');
            }
            else if(playMode){
                situation_panel.removeAttribute('class');
                game.removeAttribute('class');
                wait_mode.setAttribute('class', 'invisible');
            }
        }

        function updateUserList(user_list){
            let wait_mode_ul_left = document.getElementById('wait_mode_ul-left');
            while(wait_mode_ul_left.hasChildNodes()){wait_mode_ul_left.removeChild(wait_mode_ul_left.firstChild);};

            let wait_mode_ul_right = document.getElementById('wait_mode_ul-right');
            while(wait_mode_ul_right.hasChildNodes()){wait_mode_ul_right.removeChild(wait_mode_ul_right.firstChild);};
            
            let wait_mode_ul_spec = document.getElementById('wait_mode_ul-spec');
            while(wait_mode_ul_spec.hasChildNodes()){wait_mode_ul_spec.removeChild(wait_mode_ul_spec.firstChild);};
            
            for(let user of user_list){
                let li = document.createElement('li');
                li.textContent = user.name;
                li.addEventListener('click', (e)=>{
                    let isRightButton = 0;
                    if ("which" in e)  // Gecko (Firefox), WebKit (Safari/Chrome) & Opera
                        isRightButton = e.which == 3; 
                    else if ("button" in e)  // IE, Opera 
                        isRightButton = e.button == 2; 
                    if(isRightButton) alert('ban!');
                })
                if(user.team == 0)
                    wait_mode_ul_spec.appendChild(li);
                else if(user.team == 1)
                    wait_mode_ul_left.appendChild(li);
                else if(user.team == 2)
                    wait_mode_ul_right.appendChild(li);
            }
        }
    </script>
    <script src = "/scripts/common.js"></script>
    <script src = "/scripts/GAME/config.js"></script>
    <script src = "/scripts/GAME/animation.js"></script>
    <script src = "/scripts/GAME/loading.js"></script>
    <script src = "/scripts/GAME/player.js"></script>
    <script src = "/scripts/GAME/sprite.js"></script>
    <script src = "/scripts/GAME/renderer.js"></script>
    <script src = "/scripts/GAME/socket_events_client.js"></script>
    <script src = "/scripts/GAME/event.js"></script>
    <script src = "/scripts/GAME/main.js"></script>
</html>