<!DOCTYPE html>
<html>
    <head>
        <title>hello <%=name%></title>
        <link rel = "stylesheet" href = "/style/hpbar.css">
        <script src = "/scripts/socket.io.js"></script>
    </head>
    <script>
        var name = "<%= name %>";
        var socket = io();
        var socketID;

        function checkShot(){
            let my_pos = player.pos
            let dir = new Vector2(1, 0).rotate(player.angle);

            let x1 = my_pos.x, x2 = my_pos.add(dir).x;
            let y1 = my_pos.y, y2 = my_pos.add(dir).y;

            for(let i = 0; i<others.length; i++){
                let other = others[i];
                let other_pos = other.pos;
                let x0 = other_pos.x, y0 = other_pos.y;
                let det = Math.sqrt((x2 - x1) * (x2 - x1) + (y2 - y1) * (y2 - y1));
                let d = Math.abs((x2 - x1)*(y1 - y0) - (x1 - x0) * (y2 - y1)) / det;
                if(zBuffer[h/2] > my_pos.sub(other_pos).mag() && d <= 0.5)
                    return others_id[i];
            }
            return 0;
        }
        function sendMSG(){
            let text = document.getElementById('msg').value;
            document.getElementById('msg').value = '';
            socket.emit('sendMSG', text);
        }
        window.addEventListener("keydown", (e)=>{
            if(document.getElementById('msg') === document.activeElement) return;
            if(e.key == 'f' || e.key == 'w' || e.key == 'a' || e.key == 's' || e.key == 'd' || e.key == 'q' || e.key == 'e'){
                keyBuffer2.push(e.key);
                //socket.emit('input', e.key);
            }
        });
        window.addEventListener('keyup', (e)=>{
            if(e.key == ' '){
                if(ANIMATION_QUEUE[0] === undefined) ANIMATION_QUEUE[0] = new AnimationFactory(0, 'gun_anim');
                socket.emit('shoot', checkShot());
            }
        });
        console.log(name);
    </script>
    <body style = "background: #101010; color:white;">
        <div style = "display: flex;">
            <div style = "margin-right: 0.5rem;"> 
                <h5 style="text-align:center;"> ONLINE </h5>
                <canvas id = "map"></canvas>
                <div id = "hpbar" style = "--width: 50;" >
                    <div>    
                    </div>
                </div>
                <div id = "sincegoup"></div>
            </div>
            <div style = "display:flex">
                <canvas id = "game"></canvas>
                <div>
                    <h5 style = "text-align:center;" draggable = "false">CHATTING</h5>
                    <div id = "chatbox" style = "height:200px; overflow:hidden;"></div>
                    <form action = "javascript:sendMSG()">
                        <div style = "display: flex;">
                        <input type = "text" id = 'msg' style = "background: none; border: none; border-bottom: 1px white solid;
                        color: white; text-align: center; margin-right:0.5rem" autocomplete="off"><label for = "abc"> 
                        <div style = "border: 0.5px white solid; color: white;
                        padding-left:0.5rem; padding-right:0.5rem; width: fit-content;"> OK </div> </label>
                        <input id = "abc" type="submit" value="ok" style = "display:none;">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script>
        var hpbar = document.getElementById('hpbar');
        socket.emit('join_lobby', name);
    </script>
    <script src = "/scripts/config.js"></script>
    <script src = "/scripts/animation.js"></script>
    <script src = "/scripts/loading.js"></script>
    <script src = "/scripts/player.js"></script>
    <script src = "/scripts/sprite.js"></script>
    <script src = "/scripts/renderer.js"></script>
    <script src = "/scripts/socket_events.js"></script>
    <script src = "/scripts/main.js"></script>
</html>