<!DOCTYPE html>
<html>
    <head>
        <title>hello <%=name%></title>
        <script src = "/scripts/socket.io.js"></script>
    </head>
    <body>
        <h5>Making Room</h5>
        <form id = "room" action = '/process/tryingmakeroom' method="POST">
            <input type = "text" name = "title" required autocomplete="off">
            <input type = "text" name = "password" autocomplete="off">
            <select form = "room" name = "maxPlayer"><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option></select>
            <input type = "submit">
        </form>
    </body>
</html>