<!DOCTYPE html>
<html>
    <head>
        <title>hello <%=name%></title>
        <style>
            .btn{
                margin-top:5px;
                padding:5px;
                border: 1px black solid;
                width:fit-content;
            }
        </style>
    </head>
    <body>
        <h5>방 생성</h5>
        <form id = "room" action = '/process/tryingmakeroom' method="POST">
            <p>방제</p>
            <input type = "text" name = "title" required autocomplete="off">
            <p>비번</p>
            <input type = "text" name = "password" autocomplete="off">
            <p>최대 인원</p>
            <select form = "room" name = "maxPlayer">
                <option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option>
                <option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option>
                <option>19</option><option>20</option>
            </select>
            <input id = "m" type = "submit" hidden>
            <label for = "m">
                <div class = "btn">방만들기</div>
            </label>
        </form>
    </body>
</html>