#hpbar{
    width: 150px;
    height: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background: white;
}
#hpbar>div::after{
    margin-left:0.5rem;
    content: counter(width);
    counter-reset: width var(--width);
    width:calc(var(--width) * 1%);
    color:black;
}
#hpbar>div{
    background:brown;
    width:calc(var(--width) * 1%);
    height:100%;
    border-radius: 0.5rem;
}

.noCursor{
    cursor:none;
}

#debugger{
    width:30px; height:30px;
    background: crimson;
}

.gamemode{
    background: green;
}

.invisible{
    display: none;
}

thead{
    text-align: center;
}

ul{
    text-align: center;
    list-style: none;
    text-decoration: none;
    padding: 0 5rem 0 5rem;
}